:root{
  --button_primary: #000000;
  --button_primary_text: #ffffff;
  --button_primary_border: #000000;
  --button_primary_hover: #ffffff;
  --button_primary_text_hover: #000000;
  --button_primary_border_hover: #000000;
  --button_secondary: #ffffff;
  --button_secondary_text: #000000;

  --button_secondary_background: #ffffff;
  --button_secondary_border: #eaeaea;
  --button_secondary_text: #666;
  --button_secondary_border_hover: #000000;
  --button_secondary_text_hover: #666;
  --button_secondary_background_hover: #ffffff;

  --navbar_link: #666;
  --navbar_link_hover: #000000;
  --navbar_link_active: #0070f3;
  --navbar_border: #eaeaea; 

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  
}
.mainbody{
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}